@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


.modal-login {
    width: 400px;
    border: 3px solid  #01E7C7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: white;

    &__back{
        height: 50px;
        background: #01E7C7;
        width: 100%;
    }

    &__closebtn{
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
        background:  #01E7C7;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
    }
    &__logtext{
       margin: 5px 0px 5px 0px;
       padding: 10px;
    }

    &__login-input, .select-doctor{
        margin: 5px 0px 5px 0px;
        padding: 10px;
        width: 80%;

    }
    &__password-text{
        margin: 5px 0px 5px 0px;
        padding: 10px;

    }
    &__password-input{
        margin: 5px 0px 5px 0px;
        padding: 10px;
        width: 80%;
    }

    &__submit-btn{
        width: 50%;
        margin: 10px auto;
        background: #01E7C7;
        color: white;
        border: none;
        font-weight: bold;
        font-size: 15px;
        padding: 10px;
    }
    &__visit-fields, &__doctor-fields {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    &__createvisitbtn{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
        background: #01E7C7;
        color: white;
        border: none;
        font-weight: bold;
        font-size: 15px;
        padding: 10px;
    }
  }

textarea {
    resize: none;
}
.display{
    display: none;
}