@import './var';

@mixin mainButton {
    padding: 14px 24px;
    background-color: $main-color;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

}